body {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #1e5474;

}

a {
    text-decoration: none;
    color: #1e5474;
}

a:hover {
    color: #1e5474;
}

li {
    list-style: none;
}



.desc {
    font-size: 18px;
}

.card:hover {
    transition: 1s;
    transition-delay: 0.3s;
    border: solid 2px rgb(4, 4, 83);
    transition-timing-function: ease-out;
}

.navbar_brand {
    font-size: 24px;
    margin-right: 34px;
    font-weight: 600;
}

.container .register {
    border: solid 2px rgb(16, 16, 100);
    padding: 5px;
    font-size: 16px;
    vertical-align: bottom;
    border-radius: 3px;
}

.container .register:hover {
    border: solid 2px orange;

}

.container .title p {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: -10px;
}

.container .select-option select {
    border: none;
}

.container .select-option #ubah {
    border: solid 2px #1e5474;
    padding: 3px 5px;
    border-radius: 3px;
    color: #1e5474;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
}

.container .select-option #ubah:hover {
    border: solid 2px orange;
}

.container .label-option {
    border: solid 2px #1e5474;
    color: #f7f7f7;
    padding: 7px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
}

.container .select-option {
    margin-top: 10px;
}

.title-sidebar {
    padding: 50px;
    font-size: 24px;
    font-weight: bold;
    margin-left: -20px;
}

#section-content .list-sidebar {
    color: white;
}